.switch {
	-fx-background-radius: 25px;
	-fx-border-radius: 25px;
	-fx-border-width: 1px;
	-fx-border-color: -fx-switch-base;
	
	-fx-min-height: 25;
	-fx-min-width: 25;
}

.switch:on {
	-fx-background-color: derive(-fx-switch-base-light, 10%);
	-fx-padding: 0px 0px 0px 5px;
	-fx-effect: innershadow(three-pass-box, rgba(0, 0, 0, 0.5), 5, 0.2, 0.0, 0);
}

.switch:on:hover {
	-fx-background-color: derive(-fx-switch-base-light, 00%);
}

.switch:off {
	-fx-background-color: derive(-fx-switch-base-light, 90%);
	-fx-padding: 0px 5px 0px 0px;
	-fx-effect: innershadow(three-pass-box, rgba(0, 0, 0, 0.5), 10, 0.2, 0.0, 0);
}

.switch:off:hover {
	-fx-background-color: derive(-fx-switch-base-light, 80%);
}

.knob {
	-fx-stroke-width: 1px;
	-fx-alignment: center;
}

.switch:on .label {
	-fx-text-fill: -fx-switch-text-fill-on;
}

.switch:off .label {
	-fx-text-fill: -fx-switch-text-fill-off;
}

.switch:on .knob {
	-fx-stroke: derive(-fx-switch-base-light, 10%);
	-fx-fill: radial-gradient(center 50% 50%, radius 50%, -fx-surface, -fx-surface-light-10) !important;
	-fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.75), 5, 0, 0, 0);
}

.switch:off .knob {
	-fx-stroke: derive(-fx-switch-base-light, 20%);
	-fx-fill: radial-gradient(center 50% 50%, radius 50%, -fx-surface, -fx-surface-light-10) !important;
	-fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.75), 5, 0, 0, 0);
}

.switch .label {
	-fx-alignment: center;
}